@import "tailwindcss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global.css */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
