.client-folder-view {
  flex: 1;
  padding: 20px;
  background-color: #21252b;
  color: #abb2bf;
  overflow-y: auto;
}

.client-name-highlight {
  color: #61afef; 
  font-size: 27px;
  margin: 10px 15px 10px 10px;
  font-weight: bold;
}

.client-reg-highlight {
  color: #e5c07b;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.folder-name {
  margin-top: 28px;
  font-weight: bold;
  font-size: 25px;
  color: #c678dd;
}

.file-names {
  font-size: 20px;
  color: #98c379; 
}

ul {
  padding-left: 40px;
}
